---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2022&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_CJet5774RlcT4QrNG2tI5VEM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_10321c2KoHO1hwu4KqJeNHFY\",\n  \"livemode\": false,\n
        \ \"created\": 1385755709,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_10321c2KoHO1hwu4LPkVjEIL\",\n
        \   \"object\": \"card\",\n    \"last4\": \"0002\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 12,\n    \"exp_year\": 2022,\n    \"fingerprint\": \"xdeaBgu0tdZ1wBQC\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Fri, 29 Nov 2013 20:08:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=9990&currency=usd&card=tok_10321c2KoHO1hwu4KqJeNHFY
    headers:
      Authorization:
      - Bearer sk_test_CJet5774RlcT4QrNG2tI5VEM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"error\": {\n    \"message\": \"Your card was declined.\",\n
        \   \"type\": \"card_error\",\n    \"code\": \"card_declined\",\n    \"charge\":
        \"ch_10321c2KoHO1hwu4rWEUR13r\"\n  }\n}\n"
  recorded_at: Fri, 29 Nov 2013 20:08:30 GMT
recorded_with: VCR 2.8.0
