<!DOCTYPE html>
<html>
  <body>
    <p><%= @user.full_name%>, your credit card was declined when attempted to be charged for your MyFlix subscription. Please contact customer service to resolve the issue. Your account has been set to inactive and our services will be unavailable to you until the issue has been resolved."</p>
  </body>
</html>