---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2022&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_CJet5774RlcT4QrNG2tI5VEM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_1031cw2KoHO1hwu4R0eDM94y\",\n  \"livemode\": false,\n
        \ \"created\": 1385663955,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_1031cw2KoHO1hwu4vDb8K40N\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 12,\n    \"exp_year\": 2022,\n    \"fingerprint\": \"fJqnJX9xYesNslvE\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Thu, 28 Nov 2013 18:39:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=9990&currency=usd&card=tok_1031cw2KoHO1hwu4R0eDM94y
    headers:
      Authorization:
      - Bearer sk_test_CJet5774RlcT4QrNG2tI5VEM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"ch_1031cw2KoHO1hwu4JqCmD7cA\",\n  \"object\": \"charge\",\n
        \ \"created\": 1385663956,\n  \"livemode\": false,\n  \"paid\": true,\n  \"amount\":
        9990,\n  \"currency\": \"usd\",\n  \"refunded\": false,\n  \"card\": {\n    \"id\":
        \"card_1031cw2KoHO1hwu4vDb8K40N\",\n    \"object\": \"card\",\n    \"last4\":
        \"4242\",\n    \"type\": \"Visa\",\n    \"exp_month\": 12,\n    \"exp_year\":
        2022,\n    \"fingerprint\": \"fJqnJX9xYesNslvE\",\n    \"customer\": null,\n
        \   \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\": null,\n
        \   \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null,\n    \"cvc_check\":
        \"pass\",\n    \"address_line1_check\": null,\n    \"address_zip_check\":
        null\n  },\n  \"captured\": true,\n  \"refunds\": [],\n  \"balance_transaction\":
        \"txn_1031cw2KoHO1hwu4i36eVnRE\",\n  \"failure_message\": null,\n  \"failure_code\":
        null,\n  \"amount_refunded\": 0,\n  \"customer\": null,\n  \"invoice\": null,\n
        \ \"description\": null,\n  \"dispute\": null,\n  \"metadata\": {}\n}\n"
  recorded_at: Thu, 28 Nov 2013 18:39:16 GMT
recorded_with: VCR 2.8.0
