---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1032Ka2KoHO1hwu4nr7c2eqP
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_CJet5774RlcT4QrNG2tI5VEM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"evt_1032Ka2KoHO1hwu4nr7c2eqP\",\n  \"created\": 1385826311,\n
        \ \"livemode\": false,\n  \"type\": \"charge.succeeded\",\n  \"data\": {\n
        \   \"object\": {\n      \"id\": \"ch_1032Ka2KoHO1hwu4GC6c6KAB\",\n      \"object\":
        \"charge\",\n      \"created\": 1385826311,\n      \"livemode\": false,\n
        \     \"paid\": true,\n      \"amount\": 999,\n      \"currency\": \"usd\",\n
        \     \"refunded\": false,\n      \"card\": {\n        \"id\": \"card_1032Ka2KoHO1hwu4DAv5EMB4\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 12,\n        \"exp_year\": 2017,\n        \"fingerprint\":
        \"fJqnJX9xYesNslvE\",\n        \"customer\": \"cus_32KaJ6LPZDwQln\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      },\n      \"captured\": true,\n      \"refunds\": [],\n      \"balance_transaction\":
        \"txn_1032Ka2KoHO1hwu4RO6RgiXN\",\n      \"failure_message\": null,\n      \"failure_code\":
        null,\n      \"amount_refunded\": 0,\n      \"customer\": \"cus_32KaJ6LPZDwQln\",\n
        \     \"invoice\": \"in_1032Ka2KoHO1hwu4MwC7f3d7\",\n      \"description\":
        null,\n      \"dispute\": null,\n      \"metadata\": {}\n    }\n  },\n  \"object\":
        \"event\",\n  \"pending_webhooks\": 3,\n  \"request\": \"iar_32KaYTQs4RUKpk\"\n}\n"
  recorded_at: Sat, 30 Nov 2013 18:27:46 GMT
recorded_with: VCR 2.8.0
