---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2022&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_CJet5774RlcT4QrNG2tI5VEM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"tok_1032KE2KoHO1hwu4D3fiu0C5\",\n  \"livemode\": false,\n
        \ \"created\": 1385824998,\n  \"used\": false,\n  \"object\": \"token\",\n
        \ \"type\": \"card\",\n  \"card\": {\n    \"id\": \"card_1032KE2KoHO1hwu4SQ9fKLFD\",\n
        \   \"object\": \"card\",\n    \"last4\": \"4242\",\n    \"type\": \"Visa\",\n
        \   \"exp_month\": 12,\n    \"exp_year\": 2022,\n    \"fingerprint\": \"fJqnJX9xYesNslvE\",\n
        \   \"customer\": null,\n    \"country\": \"US\",\n    \"name\": null,\n    \"address_line1\":
        null,\n    \"address_line2\": null,\n    \"address_city\": null,\n    \"address_state\":
        null,\n    \"address_zip\": null,\n    \"address_country\": null\n  }\n}\n"
  recorded_at: Sat, 30 Nov 2013 15:23:18 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: plan=myflix&card=tok_1032KE2KoHO1hwu4D3fiu0C5&email=bernita_brekke%40auer.net
    headers:
      Authorization:
      - Bearer sk_test_CJet5774RlcT4QrNG2tI5VEM
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"object\": \"customer\",\n  \"created\": 1385825000,\n  \"id\":
        \"cus_32KFuQjUoFvkId\",\n  \"livemode\": false,\n  \"description\": null,\n
        \ \"email\": \"bernita_brekke@auer.net\",\n  \"delinquent\": false,\n  \"metadata\":
        {},\n  \"subscription\": {\n    \"id\": \"sub_32KFCC85CDE3Ca\",\n    \"plan\":
        {\n      \"interval\": \"month\",\n      \"name\": \"standard\",\n      \"amount\":
        999,\n      \"currency\": \"usd\",\n      \"id\": \"myflix\",\n      \"object\":
        \"plan\",\n      \"livemode\": false,\n      \"interval_count\": 1,\n      \"trial_period_days\":
        null,\n      \"metadata\": {}\n    },\n    \"object\": \"subscription\",\n
        \   \"start\": 1385825000,\n    \"status\": \"active\",\n    \"customer\":
        \"cus_32KFuQjUoFvkId\",\n    \"cancel_at_period_end\": false,\n    \"current_period_start\":
        1385825000,\n    \"current_period_end\": 1388417000,\n    \"ended_at\": null,\n
        \   \"trial_start\": null,\n    \"trial_end\": null,\n    \"canceled_at\":
        null,\n    \"quantity\": 1,\n    \"application_fee_percent\": null\n  },\n
        \ \"discount\": null,\n  \"account_balance\": 0,\n  \"cards\": {\n    \"object\":
        \"list\",\n    \"count\": 1,\n    \"url\": \"/v1/customers/cus_32KFuQjUoFvkId/cards\",\n
        \   \"data\": [\n      {\n        \"id\": \"card_1032KE2KoHO1hwu4SQ9fKLFD\",\n
        \       \"object\": \"card\",\n        \"last4\": \"4242\",\n        \"type\":
        \"Visa\",\n        \"exp_month\": 12,\n        \"exp_year\": 2022,\n        \"fingerprint\":
        \"fJqnJX9xYesNslvE\",\n        \"customer\": \"cus_32KFuQjUoFvkId\",\n        \"country\":
        \"US\",\n        \"name\": null,\n        \"address_line1\": null,\n        \"address_line2\":
        null,\n        \"address_city\": null,\n        \"address_state\": null,\n
        \       \"address_zip\": null,\n        \"address_country\": null,\n        \"cvc_check\":
        \"pass\",\n        \"address_line1_check\": null,\n        \"address_zip_check\":
        null\n      }\n    ]\n  },\n  \"default_card\": \"card_1032KE2KoHO1hwu4SQ9fKLFD\"\n}\n"
  recorded_at: Sat, 30 Nov 2013 15:23:21 GMT
recorded_with: VCR 2.8.0
